html,
body,
#root,
.app {
  min-height: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

#header {
  background-color: #2d2727;
  padding: 10px 0;
  -webkit-box-shadow: 0px 5px 11px -2px rgba(148,148,148,1);
  -moz-box-shadow: 0px 5px 11px -2px rgba(148,148,148,1);
  box-shadow: 0px 5px 11px -2px rgba(148,148,148,1);
  position: relative;
  z-index: 1;
}

.search-input {
  background-image: url(./img/icons/search.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 40px;
}

.content {
  display: table;
  width: 100%;
  height: 100%;
}

.characters-content,
.favorites-content {
  display: table-cell;
  padding: 0 15px;
  height: 100%;
}

.characters-content {
  width: 75%;
}

.character-item {
  min-height: 250px;
  margin-bottom: 20px;
  margin-top: 20px
}

.character-item .btn-more {
  border-radius: 0;
  background-color: #ec1d23;
  text-transform: uppercase;
  border-color: #ec1d23;
  color: #fff;
  font-weight: 800;
}

.character-item h4 {
  text-transform: uppercase;
  font-weight: 800;
}

.character-item p {
  font-weight: 200;
}

.favorites-content {
  width: 25%;
  background-color: #ebebeb;
  z-index: -1;
}

.content-title {
  margin-bottom: 50px;
}
.content-title h2 {
  font-weight: 700;
  line-height: 40px;
}

.content-title .icon {
  margin-right: 15px;
}

#footer {
  height: 80px;
  background-color: #2d2727;
  padding: 15px 0;
  color: #fff;
}

.copyright {
  line-height: 50px;
}

.copyright p {
  margin: 0;
}

@media (max-width : 768px) {
  .logo {
    margin-bottom: 10px;
  }
  .characters-content,
  .favorites-content {
    display: table-row;
  }
}