html,
body,
#root,
.app {
  min-height: 100%;
  height: 100%;
}

#header {
  background-color: #2d2727;
  padding: 10px 0;
  -webkit-box-shadow: 0px 5px 11px -2px rgba(148,148,148,1);
  -moz-box-shadow: 0px 5px 11px -2px rgba(148,148,148,1);
  box-shadow: 0px 5px 11px -2px rgba(148,148,148,1);
  position: relative;
  z-index: 1;
}

.clickeable {
  cursor: pointer;
}

.search-input {
  background-image: url(./img/icons/search.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 40px;
  border-radius: 2px;
}

/**
Main content
**/
.content {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.characters-content,
.favorites-content {
  display: table-cell;
  padding: 0 15px;
}

.characters-content {
  width: 75%;
}

.characters-content .row {
  margin-right: 0;
  margin-left: 0;
}

.sort-by {
  margin-top: 20px;
}

.character-item {
  margin-bottom: 20px;
  margin-top: 20px;
  background: #fff;
  min-height: 360px;
}

.character-item .btn-more {
  border-radius: 0;
  background-color: #ec1d23;
  text-transform: uppercase;
  border-color: #ec1d23;
  color: #fff;
  font-weight: 800;
}

.character-item .main-content {
  min-height: 220px;
  padding: 10px;
}

.character-item .main-content .title {
  text-transform: uppercase;
  font-weight: 800;
}

.character-item .image {
  max-width: 100%;
  width:100%;
  height:auto;
  display:block;
  padding-top:100%;
  border-radius:50%;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.character-item .related-comics .title {
  color: #786e6d;
  margin-bottom: 25px;
}
.character-item .related-comics .col-md-6 {
  margin-bottom: 15px;
}

.character-item p {
  font-weight: 200;
}

.favorites-content {
  width: 25%;
  background-color: #ebebeb;
  z-index: -1;
}

.content-title {
  margin-bottom: 30px;
}
.content-title h2 {
  font-weight: 700;
  line-height: 40px;
}

.content-title .icon {
  margin-right: 15px;
}

/**
Pagination
**/

.pagination {
  border-radius: 0;
}

.pagination > li > a,
.pagination > li > span {
  margin-right: 10px;
  font-weight: 800;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(200,200,200,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(200,200,200,1);
  box-shadow: 0px 3px 5px 0px rgba(200,200,200,1);
  border: 0;
  color: #c5c1c2;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #000;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(200,200,200,1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(200,200,200,1);
  box-shadow: 0px 1px 1px 0px rgba(200,200,200,1);
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #c5c1c2;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-right: 9px;
  padding-left: 9px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 9px;
  padding-left: 9px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #000;
  background-color: #fff;
}

/**
Page
**/
.character-header {
  padding: 20px;
  position: relative;
  color: #fff;
}
.character-header h4 {
  font-weight: 200;
}
.character-background {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 200px;
  position: relative;
}
.background-dark {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.65);
}
.comic-row {
  margin-bottom: 20px;
}

/**
Modal
**/
.modal-comic {
  width: 55%;
}
.modal-comic .modal-body {
  padding-bottom: 0;
}
.modal-comic .modal-content {
  border-radius: 0;
}
.modal-comic .comic-content {
  padding: 30px 15px;
}
.modal-comic .comic-content .description {
  font-weight: 200;
}
.modal-comic .title{
  text-transform: uppercase;
  font-weight: 800;
  margin: 0 0 20px 0;
}
.modal-comic .comic-buttons .col-xs-6 {
  padding: 0;
}
.buy-btn {
  background-color: #dcdcdc;
  color: #ec1d23;
  text-align: center;
  font-weight: 800;
  padding: 15px 0;
  cursor: pointer;
}
.favorite-btn {
  background-color: #f0f0f0;
  color: #3d3332;
  text-align: center;
  font-weight: 800;
  padding: 15px 0;
  cursor: pointer;
}
.favorite-btn.added {
  background-color: #322827;
  color: #ec1d23;
}
.favorite-btn .message,
.buy-btn .message {
  text-transform: uppercase;
  margin-left: 15px;
  line-height: 40px;
  font-size: 18px;
}

/**
Favorites
**/
.favorite-comic-item {
  margin-bottom: 50px;
}
.favorite-comic-item h4 {
  font-size: 20px;
  text-align: center;
  font-weight: 800;
}
.favorite-comic-item  .delete-btn {
  position: absolute;
  right: 0;
  top: -15px;
  cursor: pointer;
}

/**
Footer
**/
#footer {
  height: 80px;
  background-color: #2d2727;
  padding: 15px 0;
  color: #fff;
}

.copyright {
  line-height: 50px;
}

.copyright p {
  margin: 0;
}

@media (max-width : 768px) {
  .logo {
    margin-bottom: 10px;
  }
  .characters-content,
  .favorites-content {
    display: table-row;
    padding: 0 15px;
  }
}